<div class="page-header">
  <h1>About</h1>
  <p class="lead">ProMatch is a community of tennis players.  We provide an easy way for tennis players to find other players at their level in their area to play. Signing up is easy. Join now and expand your tennis community!</p>
  <center><%= image_tag('tennis-players.jpg', class: 'layer', id: 'players') %></center>

</div>
