<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
     <div class="item active">
      <%= image_tag("ball.jpg", class: 'layer') %>
       <div class="carousel-caption">
           <h2>Find local tennis partners</h2>
       </div>
     </div>
     <div class="item">
       <%= image_tag("rackets.jpg", class: 'layer') %>
       <div class="carousel-caption">
           <h2>Get outside, play tennis, and have fun!</h2>
       </div>
     </div>
   </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <i class="fa fa-angle-left" id="arrow"></i>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <i class="fa fa-angle-right" id="arrow"></i>
  </a>
</div> <!-- Carousel -->
<div class="col-md-10 col-md-offset-1 about clearfix">
  <h2>ProMatch is where you can find your tennis community.</h2>
  <p class="lead">Let us match you with players in your area as well as at your level.</p>
</div>
<div class="row clearfix features">
  <div class="col-md-3">
    Sign Up
  </div>
  <div class="col-md-3">
    Find Matches
  </div>
  <div class="col-md-3">
    Check Out the Map
  </div>
  <div class="col-md-3">
    Reach Out
  </div>
</div>
